.q-mainContanier{background: #fff;}
.topLefter{width: 188px; height: 378px; border:1px solid #e0e0e0;}
.wrap-1200{width: 1200px; margin:0 auto;}
.topConter{margin:10px;}
.topRighter{width: 238px; height: 388px; border:1px solid #e0e0e0; margin-top: 10px;}
.tRop_ul{ border-bottom:1px solid #e0e0e0;}
.tRop_ul a{line-height: 38px;font-size: 14px; color: #666; padding:0 14px;}
.tRop_ul a:hover{ font-size: 16px; color: #333; padding:0 14px;}
.tRcont_ul{ padding:8px 0 8px 12px}
.tRcont_ul a{line-height: 25px; font-size: 12px; color: #666;display: block;width: 90%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.tRcont_ul a:hover{color: #b80000;}
.tRcont_ul .active{color: #b80000; font-size: 12px;}
.sheet th{background: #b70105;border:1px solid #b70105; color:#fff; font-weight: normal; line-height: 38px;}
.sheet td{ text-align: center; line-height: 28px; border-bottom: 1px dashed #ccc;}
.examine{width: 240px; text-align: right; line-height: 34px;}
.examine a{ margin-right: 10px;}
.foreleg{ margin-top: 10px;}
/*水产批发*/
.aquatic{ margin-top:26px;}
.aquatic h3{font-size: 20px; color: #333;font-family: "微软雅黑"; margin-bottom: 14px;}
.image-text{ width: 388px;}
.image-text dl{background: #f8f8f8; width: 192px;margin-right: 2px; margin-bottom:2px;}
.lefTimg{ width: 210px;margin-right: 2px;}
.image-text dl dd{ line-height: 21px;text-align: center; font-size: 14px;height: 21px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.maney{color:#d70000; font-weight: bold;font-family: arial;}
.maney span{ color:#666; font-size: 12px; font-weight: normal;font-family: microsoft yahei;}
.apuAleft{width: 600px}
.apuAright{ width: 600px;}
/*主题市场*/
.theme-top{border-bottom:2px solid #b80000; padding-bottom: 10px; margin-top: 28px; position: relative;}
.theme-top .reach{padding-left: 32px;}
.theme-top h3{font-size: 20px;}
.theme-top .reach{ font-size: 12px; color:#b80000;padding-right: 10px;}
.theme-top .seasons{ font-size: 12px;color:#333;padding-left: 10px;padding-right: 10px;font-weight: normal;}
.theme-top .vertical{font-size: 12px; color:#333;}
.themeContent{ position: relative; margin-top: 10px;}
.reformCon{width: 425px; position: absolute;left: 0px; bottom:0; background: #000;opacity: 0.6;filter:alpha(opacity: 60); padding:24px; color:#fff;height: 54px;overflow: hidden;}
.intrJbloc{ border:1px solid #e7e7e7; width: 230px; margin-right: 10px; margin-bottom:9px;height: 320px;overflow: hidden;}
.intrJbloctop{position: relative;}
.industry{  position: absolute;left: 0px;bottom: 0px;width: 230px;text-align: center;font-size: 14px;background: #000;color: #fff;line-height: 30px;opacity: 0.6;filter:alpha(opacity: 60)}
.imAgesone{ margin-bottom: 15px}
.fulit{ text-align: center; margin-top: 10px; margin-bottom: 25px;}
.introduce{ margin-right: 8px; position: relative;border: 1px solid #e7e7e7;margin-bottom: 9px;height: 320px;overflow: hidden;}
/*商标切换*/ 
.swiCont{ border:1px solid #e7e7e7; text-align: center;line-height: 58px }
.locate{ position: relative;}
.locate01{ position: absolute;left:0; top:-61px;}
.locate02{ position: absolute;right:0; top:-61px;}
.locate01:hover,.locate02:hover{opacity: 1;filter:alpha(opacity: 100)}
/*1F*/
.ground-one{ margin-top: 38px;margin-bottom: 50px;}
.ground-one .one{border: 1px solid #ff4c50;width: 25px;height: 25px;display: inline-block;border-radius: 50%;text-align: center;line-height: 25px;background: #ff4c50;margin-right: 10px;font-size: 20px;vertical-align: middle;color: #fff;}
.ground-one h3{ font-size: 20px; margin-bottom: 20px;}
.ground-ul{ width: 174px; padding:18px 18px 24px 18px;}
.ground-ul ul{ height: 66px; overflow: hidden;}
.ground-ul a{padding:0 8px; line-height: 29px;}
.imgAges-content{width: 130px; border:1px solid #e3e3e3; border-left: 0;}
/*.imgAges-content img{border-bottom: 1px dashed #e3e3e3; padding:4px 15px;}*/
.imgAges-content .imgAbott{border-bottom:none; padding-bottom: 8px;}
.aquaticAll{ border:1px solid #e3e3e3; width: 172px; text-align: center;padding-top:15px; border-left: 0;}
.aquaticAll p{ font-size: 12px;font-family: "微软雅黑"}
.aquaticAll p span{font-size: 14px;color:#d70000;font-weight: bold;}
.groundall{width: 520px;}
.aquaticAll01{ border-bottom: none;}
/*2F*/
.ground-one .one01{ background: #3c7dff; border:1px solid #3c7dff;}
/*3F*/
.ground-one .one03{ background: #89c819; border:1px solid #89c819;}
/*4F*/
.ground-one .one04{background: #ff8800; border:1px solid #ff8800;}
/*5F*/
.ground-one .one05{background: #d332a5; border:1px solid #d332a5;}
/*6F*/
.ground-one .one06{background: #1eb0f8; border:1px solid #1eb0f8;}
.theme-top .evenMore{ margin-top: 10px;}
.ground-ul {padding: 18px 18px 16px 18px;}
.ground-ul a{line-height: 29px;color: #333;display: inline-block; width: 52px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;text-align: center;padding: 0}
.side-maincont{padding-left:220px;}
.topConter{margin: 10px 10px 0}
.image-text dl{height: 190px;position: relative;zoom: 1;    color: #333;}
.image-text dl dt{height: 100%;}
.image-text img{height: 100%;}
.image-text dl dd{position: absolute;left: 0;}
.cinnamon,.maney{bottom: 30px;width: 150px;padding: 0 20px;}
.maney{bottom: 10px;}
.groundall{padding-top: 2px;overflow: hidden;}
.aquaticAll{position: relative;height: 179px;padding: 0;margin-top: -2px;}
.aquaticAll img{height: 100%;}
.aquaticAll p{position: absolute;left: 0;width: 130px;top: 10px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;padding: 0 21px;}
.aquaticAll p.case{top: 30px;}
.groundRight {height: 360px;overflow: hidden;}
.reformCon{padding: 15px 24px;line-height:24px; height: auto;}
.industry{width: 180px;padding: 5px 25px;height: 24px;overflow: hidden;line-height: 24px;}
.theme-top .active {color: #b80000;}
.theme-top .seasons{display: inline-block;cursor: pointer;width: 68px;text-align: center;padding: 0}
.triangle_small{width: 12px;font-size: 12px;overflow: hidden;bottom: -6px;margin-left: 131px;color: #b80000;left:0;position: absolute;}
.triangle_small i{
    font-size: 12px;
    font-size: 0;
    overflow: hidden;
    border-width: 5px;
    border-style: solid;
    width: 0;
    height: 0;
    position: absolute;
    cursor: pointer;
    border-color: transparent transparent red transparent;
}
.sheet{table-layout: fixed;width: 100%;}
/*.q-mainContanier{margin-bottom: 40px;}*/
.groundLeft{height: 360px;overflow: hidden;}
.themeContent{display: none;margin-right: -20px;}
.feature{display: none;}
.itemTit{display: inline-block;margin-right: 22px;color: #333;}
.swiCont{border-left: 0;border-right:0 }
.swiCont li{float: left; border-right: 1px dashed #c2c2c2;padding-right: 18px;padding-left: 10px;margin: 5px 0;line-height: 1}
#marquee {width:100%;height:60px;overflow:hidden;}
.imgAges-content{height: 358px;overflow: hidden;text-align: center;position: relative;}
.imgAges-content p{height: 49px;border-bottom: 1px dashed #e3e3e3;padding: 5px 0;text-align: center;margin-bottom: 0px;display: inline-block;width: 90%;position: relative;}
.imgAges-content i.u-icon{position: absolute;left: 0;top: 0;margin: 23px 0 0 0;line-height: 1;color: #f06b56;font-size: 14px;display: block;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: solid;
    width: 0;
    height: 0;
    /*border-color: transparent transparent  transparent red;*/
}
#Floor01 .imgAges-content i.u-icon{
    border-color: transparent transparent  transparent #ff4c50;   
}
#Floor02 .imgAges-content i.u-icon{
    border-color: transparent transparent  transparent #3c7dff;   
}
#Floor03 .imgAges-content i.u-icon{
    border-color: transparent transparent  transparent #89c819;   
}
#Floor04 .imgAges-content i.u-icon{
    border-color: transparent transparent  transparent #ff8800;   
}
#Floor05 .imgAges-content i.u-icon{
    border-color: transparent transparent  transparent #d332a5;   
}
#Floor06 .imgAges-content i.u-icon{
    border-color: transparent transparent  transparent #1eb0f8;   
}
.imgAgesBox img{display: none;}
.tRop_ul{padding: 0 14px 0 12px;}
.tRop_ul li{line-height: 38px;font-size: 14px;color: #666;text-align: center;float: left;height: 38px;cursor: pointer;}
.tRcont_ul{display: none;}
.tRop_ul li.u-right{text-align: right;width: 35%}
.tRop_ul li.active{font-size: 16px;color: #333;line-height: 36px;}
.scrollList{line-height: 40px;height: 40px;background: #b70105;color: #fff;font-size: 14px;padding-left: 6px;margin-bottom: 7px;}
.nSpan01,.nSpan02,.nSpan03,.nSpan04{text-align: center;display: inline-block;font-weight: normal;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;float: left;}
.nSpan01{width: 57px;}
.nSpan02{width: 72px;margin-left: 3px;}
.nSpan03{width: 46px;padding-left: 5px;}
.nSpan04{width: 45px;}
#marqueeT{height: 180px;overflow: hidden;}
.pre_godUl {padding: 0 2px 0 5px;}
.pre_godUl li{border-bottom: 1px dashed #ccc;}
.pre_godUl a{display: block;line-height: 30px;overflow: hidden;}
.pre_godUl .nSpan01{width: 57px;text-align: left;text-indent: 4px;}
.pre_godUl .nSpan02{width: 69px;margin-left: 6px;}
.pre_godUl .nSpan03{width: 46px;padding-left: 5px;}
.pre_godUl .nSpan04{width: 45px;}
.nInforBox{height: 88px;overflow: hidden;}
.tRop_ul .tRop_li01{width: 43px;text-align: left;margin-right: 10px;}
.tRop_li02{width: 72px;margin: 0 5px;}
.tRop_li03{width: 78px;}
.ground-ul01{background: #fef8f8;}
.ground-ul02{background: #dce8ff;}
.ground-ul03{background: #fcfff6;}
.ground-ul04{background: #fff8f0;}
.ground-ul05{background: #fff6fe;}
.ground-ul06{background: #f1faff;}
img.lazy{background: url(http://search.xebest.com/images/lazy_logo.png) no-repeat center center}