.g-floor {
    margin:30px auto;
}

/*首页slider楼层*/
#g-f01 {
    /*height: 500px;*/
    margin-top: 0;
    margin-bottom:30px;
}
.g-fl01-con {
    padding:10px 0 0 231px;
}

/*焦点图*/
.g-fl01-slider {
    width: 714px;
    height: 390px;
    overflow: hidden;
    position: relative;
}
.g-fl01-pic {
    width: 714px;
    height: 390px;
    background: #fff url(../images/loading-02.gif) no-repeat center;
}
.slider-ul li {
    width: 714px;
    height: 390px;
}
.g-fl01-tit {
    width: 100%;
    height: 12px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 20px;
    text-align: center;
}
.g-fl01-tit ul {
    font-size: 0;
    display:inline-block;
    *display:inline;
    *zoom:1;
    height: 12px;
    vertical-align: top;
    background: rgba(255,255,255,.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4FFFFFFF,endcolorstr=#4FFFFFFF);
    border-radius: 12px;
    text-align: center;
}
.g-fl01-tit li {
    width: 8px;
    height: 8px;
    overflow: hidden;
    /* text-indent: -999px; */
    background: #b6b6b6;
    display: inline-block;
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin: 2px 3px;
    border-radius: 50%;
    vertical-align: top;
}
.g-fl01-tit li.on {
    background: #e84945;
}

/*焦点图左侧信息*/
.g-fl01-msg {
    width: 242px;
    height: 388px;
    background: #fff;
    border:1px solid #e6e6e6;
    overflow: hidden;
}

.vm-msg1 {
    padding:13px 10px 13px 70px;
    height: 44px;
    position: relative;
}
.vm-msg1 .vs-upc {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 10px;
}
.vm-msg1 .vs-uwl,.vm-msg1 .vs-uts {
    font-size: 14px;
    color: #4d4d4d;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.vm-msg1 .vs-uts {
    color: #999;
}

.vm-msg2 {
    height: 50px;
    border-top:1px solid #ececec;
    border-bottom:1px solid #ececec;
    background: #f8f8f8;
}

.vm-msg2 .vm-msg2-nl {
    width: 102%;
}
.vm-msg2 .vm-msg2-nl a {
    float: left;
    width: 49%;
    border-right: 1px solid #ececec;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}
.vm-msg2 .vm-msg2-nl i {
    width: 16px;
    height: 16px;
    display: inline-block;
    font-size: 14px;
    color: #dd2e29;
    line-height: 1.3;
    text-align: right;
    margin-right: 5px;
    vertical-align: baseline;
}

.vm-msg2 .vm-msg2-ld {
    width: 100%;
    height: 50px;
    display: none;
    overflow:hidden;
    text-align: center;
    line-height: 50px;
    color: #333;
}
.vm-msg2 .vm-msg2-ld ul {
    width: 105%;
}
.vm-msg2 .vm-msg2-ld li {
    width: 80px;
    padding:6px 0;
    height: 38px;
    border-right: 1px solid #ececec;
    float: left;
    text-align: center;
    display: none;
    line-height: 19px;
}
.vm-msg2 .vm-msg2-ld li strong {
    color: #dd2e29;
    font-size: 16px;
    font-weight: normal;
}

.vm-msg3 {
    height: 65px;
    padding:10px;
}

.vm-msg3 ul {
    width: 120%;
}

.vm-msg3 li {
    width: 74px;
    height: 65px;
    float: left;
    text-align: center;
}
.vm-msg3 img {
    width: 44px;
    height: 44px;
    vertical-align: top;
}
.vm-msg3 p {
    line-height: 24px;
}
.vm-msg3 .vm-icon2 {
    color: #94cfc5;
    border-color: #94cfc5;
}
.vm-msg3 .vm-icon3 {
    color: #b17eab;
    border-color: #b17eab;
}

.vm-msg3 li:hover .u-icon {
    border-style: dashed;
}

.vm-msg4 {
    height: 175px;
}
.msg4-tab {
    height:30px;
    line-height: 30px;
    background: #f6f6f6;
    position: relative;
    border-bottom:1px solid #ececec;
}
.msg4-tab span {
    width: 80px;
    text-align: center;
    float: left;
}
.msg4-tab em {
    width: 50px;
    height: 2px;
    font-size: 0;
    overflow: hidden;
    background: #dd2e29;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.msg4-tc {
    padding: 8px;
    height: 26px;
    overflow: hidden;
}
.msg4-tc ul {
    width: 110%;
}
.msg4-tc ul li {
    overflow: hidden;
    display: none;
}
.msg4-tc ul li em {
    float: left;
    height: 52px;
    line-height: 35px;
    color: #dd2e29;
    font-weight: 600;
}
.msg4-tc ul li span {
    float: left;
    width: 20px;
    height: 26px;
    background: #f6f6f6;
    border-radius: 2px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: #dd2e29;
    font-weight: 600;
    margin:0 2px;
}

.msg4-mlp {
    padding:0 10px;
}
.msg4-mlp h5 {
    color: #4d4d4d;
    padding-bottom: 4px;
    font-weight: bold;
}
.msg4-mlp ul {
    height: 72px;
    overflow: hidden;
}

.msg4-mlp li {
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #666;
}
.msg4-mlp li em {
    padding-right: 5px;
}
.msg4-mlp li i {
    color: #dd2e29;
}

/*新鲜速递*/
#g-fresh {
    height: 130px;
    margin: -20px auto 0 auto;
}
.g-fl01-con2 {
    height: 130px;
    overflow: hidden;
}
.g-fl01-con2 ul {
    width: 110%;
}
.g-fl01-con2 li {
    width: 244px;
    height: 130px;
    position: relative;
    float: left;
    margin-right: 1px;
}
.g-fl01-con2 li span {
    position: absolute;
    left: 16px;
    bottom: 16px;
    padding:2px;
    border:1px dashed #dd2e29;
}
.g-fl01-con2 li span i {
    background: #dd2e29;
    padding:2px 5px;
    color: #fff;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    transition:all .3s ease;
}
.g-fl01-con2 li:hover span i {
    background: none;
    color: #dd2e29;
}
.g-fl01-con2 li.first {
    width: 220px;
    margin-right: 0px;
}
.g-fl01-con2 li.first em {
    width: 100px;
    height: 100px;
    color: #fff;
    line-height: 1;
    font-size: 100px;
    position: absolute;
    left: -30px;
    bottom:-40px;
    opacity: .3;
    filiter:alpha(opacity=30);
}

/*首页市场楼层*/
#g-f02 {
    height: 40px;
    overflow: hidden;
}
#g-f02 ul {
    width: 102%;
}
#g-f02 ul li {
    width: 240px;
    height: 40px;
    float: left;
    margin-right: 15px;
    display: inline;
    padding-left: 50px;
    position: relative;
    overflow: hidden;
}
#g-f02 ul li span {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

#g-f02 ul li a {
    float: left;
    width: 75px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 5px;
    display: inline;
}
#g-f02 ul li a.xeh-tag {
    color: #dd2e29;
}
.g-ft {
    padding-bottom: 10px;
}

.g-ft h4 {
    font-size: 18px;
    font-weight: 600;
    color: #4b4b4b;
    margin-right: 15px;
    display: inline;
}
.g-ft .g-dzt {
    width: 58px;
    height: 17px;
    background: url(../images/spriter-images/vts-01.jpg?__spriter);
    text-indent:-999px;
    overflow:hidden;
    margin-top: 1px;
}
.g-ft .g-ft-links {
    padding-left: 5px;
    border-left:1px solid #eee;
    color: #5e5e5e;
}
.g-ft .g-ft-links a {
    padding:0 5px;
}
/*大宗热卖*/
/* #g-f03 {
    height: 322px;
} */
.g-dzpr {
    border:1px solid #e6e6e6;
    border-top-width: 2px;
    border-top-color: #e42b24;
    overflow: hidden;
    padding: 20px 0;
}
.g-dzpr ul {
    width: 110%;
}
.g-dzpr ul li {
    width: 200px;
    padding: 0 20px 0 19px;
    float: left;
    border-right: 1px solid #eaeaea;
}
.g-dzpr .p-pic {
    width: 200px;
    height: 200px;
    position: relative;
}
.g-dzpr .p-psc {
    width: 100%;
    height: 24px;
    line-height: 24px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#50000000,endcolorstr=#50000000);
    color: #fff;
}
.g-dzpr .p-psc p {
    padding:0 5px;
}

.g-dzpr .p-name {
    height: 14px;
    overflow: hidden;
    font-size: 14px;
    margin:10px 0;
    line-height: 1;
}
.g-dzpr .p-pri {
    line-height: 1;
}
.g-dzpr .p-pri strong {
    font-size: 16px;
    font-weight: normal;
    color: #dd2e29;
}
.g-dzpr .p-pri span {
    color: #5e5e5e;
    padding-left: 5px;
}

/*优质商家*/
#g-f04 {
    height: 287px;
}
.g-shops-left {
    width: 260px;
    height: 258px;
    position: relative;
    overflow: hidden;
}
.g-shops-left .g-smk {
    width: 40px;
    height: 50px;
    background: url(../images/spriter-images/bsfe.png?__spriter);
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 10;
}
.g-shops-con {
    width: 260px;
    height: 264px;
    overflow: hidden;
}
.g-shops-left .p-pic {
    height: 190px;
}

.g-shops-left .p-msg {
    height: 68px;
    padding:3px 10px;
    text-align: center;
    background: #f1f1f1;
}
.g-shops-left .p-msg .p-name {
    padding:10px 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.g-shops-left .p-msg .p-des {
    color: #666;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.g-shops-tips {
    position: absolute;
    left: 0;
    top: 170px;
    width: 100%;
    height: 20px;
    background: rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6F000000,endcolorstr=#6F000000);
}

.g-shops-tips ul {
    text-align: center;
    font-size: 0;
    height: 20px;
    overflow: hidden;
}
.g-shops-tips ul li {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #fffffd;
    overflow: hidden;
    text-indent: -999px;
    display: inline-block;
    margin: 7px 5px;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    transition: all ease .4s;
}
.g-shops-tips ul li.on {
    width: 14px;
    background: #fe4e02;
}
.g-shops-item {
    margin-left: 260px;
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #e6e6e6;
}
.g-shops-item ul {
    width: 105%;
}
.g-shops-item li {
    width: 234px;
    height: 128px;
    float: left;
    border:1px solid #e6e6e6;
    margin:-1px 0 0 -1px;
    position: relative;
    overflow: hidden;
}
.g-shops-item .g-sit {
    padding:0 10px;
}
.g-shops-item .g-sit .p-pic {
    width: 120px;
    height: 60px;
    margin: 10px auto 0 auto;
}
.g-shops-item .g-sit .p-name {
    font-size: 14px;
    color: #333;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin:5px 0;
}

.g-shops-item .g-sit .p-dec {
    color:#5f5f5f;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.g-shops-item .g-sib {
    /*display: none;*/
    width: 214px;
    height: 108px;
    background: red;
    position: absolute;
    left: 0;
    top: 130px;
    background: none;
    background: rgba(221,46,41,0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#90dd2e29,endcolorstr=#90dd2e29);
    padding:10px;
    text-align: center;
}

.g-shops-item .g-sib .p-name {
    color: #fff;
    font-size: 14px;
    margin: 20px 0 10px 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.g-shops-item .g-sib a {
    width: 94px;
    height: 28px;
    display: block;
    margin: 0 auto;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    border:1px solid #fff;
}

/*banner01*/
#g-fad1,#g-fad2,#g-fad3,#g-fad4 {
    height: 100px;
    margin-top: -20px;
}

/*肉禽蛋类*/
#g-f05,#g-f06,#g-f07 {
    height: 399px;
}
.g-incol-l {
    overflow: hidden;
}
.g-incol {
    border:1px solid #e6e6e6;
    border-top-width: 2px;
}

.g-floor-9 .g-incol-lc{
    border-top-color: #ffccca;
}
.g-floor-9 .g-incol-rc{
    border-top-color: #ccf5f9;
}
.g-floor-10 .g-incol-lc{
    border-top-color: #d1e7ff;
}
.g-floor-10 .g-incol-rc{
    border-top-color: #ffdfb9;
}
.g-floor-11 .g-incol-lc{
    border-top-color: #f8bbda;
}
.g-floor-11 .g-incol-rc{
    border-top-color: #e5d4ff;
}

.g-incol-b {
    width: 240px;
    height: 368px;
}

.g-incol-t {
    width: 230px;
    height: 358px;
    padding:5px 20px;
    border-right:1px solid #eee;
    position: relative;
}
.g-incol-t dl {
    overflow: hidden;
}
.g-incol-t dl dt {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0 5px 0;
}
.g-incol-t dl dt a {
    color: #333;
}
.g-incol-t dl dd {
    overflow: hidden;
    width: 108%;
}
.g-incol-t dl dd p {
    overflow: hidden;
    width: 100%;
    height: 324px;
}
.g-incol-t dl dd a {
    width: 72px;
    float: left;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px dashed #eee;
    margin-right: 8px;
    margin-bottom:-1px;
    display: inline;
}

.g-incol-t dl dd a.xeh-tag {
    color: #dd2e29;
}

/* 小商品 */
.g-incol-tpro {
    width: 168px;
    height: 155px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -84px;
    overflow: hidden;
}

.tpro-01 {
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6FFFFFFF,endcolorstr=#6FFFFFFF);
    height: 70px;
    left: 0;
    bottom: -30px;
    /* padding: 10px 0; */
}

.tpro-01 div {
    height: 40px;
    line-height: 40px;
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.tpro-01 div a {
    display: block;
    color: #000;
    font-size: 14px;
}
.tpro-01 p {
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #ea3232;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.g-incol-o {
    padding:0 20px;
    width: 120px;
    height: 368px;
    overflow: hidden;
}
.g-incol-o ul {
    margin-top: -1px;
}

.g-incol-o li {
    width: 120px;
    height: 60px;
    overflow: hidden;
    border-top:1px dashed #eee;
}
/* .g-incol-r {
    margin-left: 672px;
    height: 368px;
    overflow: hidden;
}

.g-incol-p {
    border-left: 1px solid #eee;
    width: 285px;
}
.g-incol-p p {
    overflow: hidden;
    height: 184px;
    border-bottom: 1px solid #eee;
}

.g-incol-a {
    width: 239px;
    height: 368px;
    margin-left: 286px;
    border-left: 1px solid #eee;
} */

/**/
.g-f06-sl .g-incol-t,
.g-f06-sr .g-incol-t {
    width: 150px;
    padding: 20px;
    height: 328px;
}

.g-f06-sl .g-incol-short dd p,
.g-f06-sr .g-incol-short dd p {
    height: 180px;
}

.g-f06-sl .g-incol-tmax {
    width: 230px;
}
.g-f06-sr .g-incol-tmin {
    width: 70px;
}

/*冷链物流*/
#g-f08,#g-f09 {
    height: 380px;
}

.g-mj {
    height: 350px;
    position: relative;
    overflow: hidden;
}
.mj-slogan {
    width: 265px;
    height: 20px;
    background: url(../images/spriter-images/mj-01.jpg?__spriter);
}
.g-mj .g-jr-l {
    padding: 0 25px;
    width: 200px;
    background: none;
    background: rgba(6,56,102,.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#60003866,endcolorstr=#60003866);
}
.g-mj .g-jr-l .g-jrl-so {
    background: url(../images/spriter-images/mjrk.png?__spriter);
}
.g-mj .g-jrl-item li {
    width: 60px;
    margin-right: 10px;
}
.g-mj .g-jrl-item .u-icon {
    margin: 0 auto 5px auto;
}
.g-mj .g-jrl-btn a {
    background: #2d95f3;
    border: 0 none;
    border-bottom: 2px solid #08518f;
}
/*
.g-mj .mj-adr {
    width: 290px;
    height: 300px;
    padding: 0 20px;
    background: rgba(6,56,102,.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6F063866,endcolorstr=#6F063866);
    position: absolute;
    left: 28px;
    top: 28px;
}

.mj-adr .mj-adr-tab {
    width: 100%;
    position: relative;
    border-bottom:1px solid #657e95;
}
.mj-adr .mj-adr-tab span {
    width: 33.33%;
    float: left;
    height: 42px;
    line-height: 42px;
    color: #f0f3f6;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.mj-adr .mj-adr-tab span.active {
    color: #ffa10d;
}
.mj-adr .mj-adr-tab em {
    font-size: 0;
    overflow: 0;
    width: 96px;
    height: 2px;
    background: #ffa10d;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.mj-adr-tabcons {
    display: none;
}
.mj-adr-tabcon {
    padding:10px 0 15px;
}

.tabcon-div {
    display: none;
}
.mj-adr-tabcon dl {
    width: 100%;
    height: 42px;
    background: #e9f4ff;
    margin: 10px 0;
}

.mj-adr-tabcon dl dt {
    float: left;
    width: 24%;
    height: 18px;
    line-height: 18px;
    border-right: 1px solid #bac3cc;
    margin-top: 12px;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    color: #40454a;
}
.mj-adr-tabcon dl dd {
    float: left;
    width: 72%;
    height: 42px;
    font-size: 14px;
}

.mj-adr-tabcon .select-box .select-text {
    border: none;
    height: 42px;
    background: #e9f4ff;
}
.mj-adr-tabcon .select-box .select-text span {
    padding: 1px 0;
}
.mj-adr-tabcon .select-box .select-drop {
    width: 290px;
    left: -80px;
    padding-top: 2px;
    background: none;
}
.mj-adr-tabcon .select-box .select-drop ul {
    border: none;
    height: auto !important;
    height: 205px;
    max-height: 205px;
    background: #fff;
}
.mj-adr-tabcon .select-box .select-drop li  {
    height: 40px;
    line-height: 40px;
    color: #363636;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
}
.mj-adr-tabcon .select-box .select-drop li.active {
    color: #0058a3;
}
.mj-adr-btn {

}
.mj-adr-btn a {
    display: block;
    height: 39px;
    background: #2d95f3;
    line-height: 39px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-bottom:2px solid #08518f;
}

.mj-adr-tabcon .dstion-plugins .dstion-top {
    border: none;
    height: 42px;
    background: #e9f4ff;
    padding: 0 35px 0 10px;
    width: 165px;
    line-height: 42px;
}
.mj-adr-tabcon .dstion-plugins .dstion-top .dstion-t-msg {
    line-height: 42px;
    width: 165px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mj-adr-tabcon .dstion-plugins .dstion-top b {
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    right: 0;
    font-size: 18px;
    margin: -15px 0 0 -15px;
    font-weight: normal;
}
.mj-adr-tabcon .dstion-plugins .dstion-con {
    top: 42px;
    left: -80px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    background: #fff;
    font-size: 12px;
}
.mj-adr-tabcon .dstion-plugins .dstion-tab ul,
.mj-adr-tabcon .dstion-plugins .dstion-tab li.active a {
    border-color: #00b1f2;
    color: #0058a3;
}
.mj-adr-tabcon .dstion-plugins .dstion-tab-con li a {
    color: #0058a3;
}
.mj-adr-tabcon .dstion-plugins .dstion-tab-con li a:hover,
.mj-adr-tabcon .dstion-plugins .dstion-tab-con li a.active {
    background: #b89664;
    color: #fff;
} */

.g-mj .mj-msgs {
    width: 270px;
    height: 350px;
    position: absolute;
    right: 28px;
    top: 0;
    background: rgba(235, 243, 251, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#9Febf3fb,endcolorstr=#9Febf3fb);
}

.mj-msg-br {}
.mj-msg-br ul {
    padding-top: 30px;
}
.mj-msg-br ul li {
    width: 72px;
    float: left;
    margin-left: 15px;
    display: inline;
}
.mj-br-top {
    text-align: center;
}
.mj-br-top p {
    width: 42px;
    height: 42px;
    margin:0 auto;
}
.mj-br-01 .mj-br-top p {
    background: url(../images/spriter-images/mjt-01.png?__spriter);
}
.mj-br-02 .mj-br-top p {
    background: url(../images/spriter-images/mjt-02.png?__spriter);
}
.mj-br-03 .mj-br-top p {
    background: url(../images/spriter-images/mjt-03.png?__spriter);
}
.mj-br-top span {
    font-size: 14px;
    color: #4d4d4d;
    line-height: 30px;
}
.mj-br-bot a {
    display: block;
    line-height: 24px;
    text-align: center;
    color: #4d4d4d;
}

.mj-msgs .mj-apc1 {
    width: 270px;
    height: 133px;
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 1;
}

.mj-msgs .mj-apc2 {
    width : 92px;
    height: 91px;
    z-index: 2;
    position: absolute;
    right: 20px;
    bottom: 16px;

}
.mj-msgs .mj-apc3 {
    width : 131px;
    height: 118px;
    z-index: 3;
    position: absolute;
    left: 50%;
    margin-left: -65px;
    bottom:0;
}


/*鲜易金融*/
.jr-slogan {
    width: 265px;
    height: 20px;
    background: url(../images/spriter-images/jr-01.jpg?__spriter);
}

.g-jr {
    height: 350px;
    position: relative;
    overflow: hidden;
}

.g-jr-l {
    width: 186px;
    height: 290px;
    background: #d0373a;
    border-radius: 5px;
    position: absolute;
    left: 60px;
    top: 30px;
    padding:0 32px;
}
.g-jr-l .g-jrl-so {
    width: 169px;
    height: 74px;
    background: url(../images/spriter-images/jr1-01.jpg?__spriter);
    margin: 30px auto 24px auto;
}
.g-jrl-item {
    margin-bottom: 20px;
    overflow: hidden;
}
.g-jrl-item ul {
    width: 120%;
}
.g-jrl-item li {
    width: 41px;
    float: left;
    margin-right: 30px;
    display: inline;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.g-jrl-item .u-icon {
    width: 41px;
    height: 48px;
    background: url(../images/spriter-images/jr-02.png?__spriter);
    margin-bottom: 5px;
    position: relative;
    color: #ffba13;
    text-align: center;
}
.g-jrl-item .u-icon span {
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-12px 0 0 -12px;
}
.g-jrl-btn a {
    display: block;
    border:1px solid #ffbabc;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    background: #d65458;
    border-radius: 2px;
}

.g-jr-r {
    width: 270px;
    height: 350px;
    position: absolute;
    right: 28px;
    top: 0;
    background: rgba(235, 243, 251, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#9Febf3fb,endcolorstr=#9Febf3fb);
}

.g-jr-rt {
    width: 134px;
    height: 38px;
    background: #dd2e29;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    border-bottom: 1px solid #bd2828;
    margin:0 auto;
}

.g-jr-list {
    padding:20px;
}
.g-jr-list li {
    font-size: 14px;
    color: #4d4d4d;
    padding:5px 0;
}

.g-jr-r .g-jr-p01 {
    width: 194px;
    height: 103px;
    position: absolute;
    left: 0;
    bottom: 10px;
}
.g-jr-r .g-jr-p02,.g-jr-r .g-jr-p03 {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 118px;
    top: 210px;
}
.g-jr-r .g-jr-p02 {
    left: 67px;
    top: 184px;
}
.g-jr-r .g-jr-p04 {
    width: 285px;
    height: 161px;
    position: absolute;
    bottom: 20px;
    left: 0;
}
/*行业资讯，新闻*/
#g-f10 {
    height: 393px;
}
.wrap-cons-news {
	/*height: 392px;*/
	overflow: hidden;
}
.wrap-cons-news .news-cons-left{
	width: 574px;
	overflow: hidden;
}
.wrap-cons-news .news-cons-right {
    width: 612px;
}
.wrap-cons-news .news-cons {
	padding: 15px 10px;
    border:1px solid #e6e6e6;
	border-top: 2px solid #dd2e29;
}
.wrap-cons-news .news-cons-left .news-cons01 {
	width: 310px;
    height: 332px;
    overflow: hidden;
}
.wrap-cons-news .news-cons-right .news-cons01 {
	width: 330px;
    overflow: hidden;
}
.wrap-cons-news .news-cons-left .cons01-pic,
.wrap-cons-news .news-cons-right .cons01-pic {
	width: 100%;
	height: 170px;
	position: relative;
}
.wrap-cons-news .news-cons-right .cons01-pic {
    height: 182px;
}
.wrap-cons-news .cons01-pic span {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgba(0,0,0,.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
	color: #fff;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.wrap-cons-news .cons01-list {
	padding:14px 0 0 0;
}
.wrap-cons-news .cons01-list ul {}
.wrap-cons-news .cons01-list li {
	height: 30px;
	line-height: 30px;
}
.wrap-cons-news .cons01-list li a {
	float: left;
	width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.wrap-cons-news .cons01-list li span {
	float: right;
	width: 25%;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
}

.wrap-cons-news .news-cons02 {
	width: 215px;
}
.wrap-cons-news .cons02-h4 {
	font-size: 16px;
	font-weight: normal;
	padding:7px 0;
}
.wrap-cons-news .news-cons02 ul {}
.wrap-cons-news .news-cons02 li {
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	*padding:1px 0 0px 20px;
}
.wrap-cons-news .news-cons02 li em {
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -8px;
	background: #333333;
	border-radius: 50%;
}
.wrap-cons-news .news-cons02 li em.active {
	background: #dd2e29;
}
.wrap-cons-news .cons01-list-pic {
	padding-top: 10px;
	height: 140px;
}

.wrap-cons-news .news-cons03 {
	width: 240px;
	height: 332px;
}
.quo{
	width:100%;
	height:432px;
	overflow:hidden;
}

.quo_p{
	height:36px;
	line-height:36px;
	color:#fff;
	background-color:#dd2e29;
	padding:0 12px;
	margin-right:-5px;
}

.quo_p span,.quoUl li span{
	float:left;
	margin-right:5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.quo_p span{
	font-size:14px;
}

.quoList{
	padding: 0px 12px;
	height: 296px;
	background-color: #fff;
	overflow:hidden;
}
.quoList p {
    line-height: 27px;
}

.quo .quoUl{
	height: 269px;
	overflow: hidden;
}

.quoUl li{
	width:100%;
	height:22px;
	line-height:22px;
	padding:4px 0;
	border-bottom:1px dashed #d1d1d1;
	margin-right:-5px;
	float:left;
	margin-top:-1px;
	cursor:pointer;
}


.quoUl li .span03{
	margin-right:0;
}
.quo .quo_p{margin-right: -5px;}
.quo .span01{width: 52px;}
.quo .span02{width: 54px; text-align: center;}
.quo .span03{width: 54px; text-align: center;}
.quo .span04{width: 40px; text-align: center; margin-right: 0}


/* 左侧滚动楼层导航 */
.flSiderNav {
    width: 72px;
    height: auto;
    position: fixed;
    _position: absolute;
    left: 15px;
    top: 50%;
    height: 300px;
    margin-top: -150px;
    z-index: 7777;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform :  scale(1.2);
    -moz-transform :  scale(1.2);
    -ms-transform :  scale(1.2);
    transform :  scale(1.2);
    opacity: 0;
    filter: alpha(opacity=0);
}
.flSiderNav ul {}
.flSiderNav li {
    height: 34px;
    border-top: 1px solid #e6e6e6;
    text-align: center;
    line-height: 34px;
    color: #686868;
}
.flSiderNav li .u-icon {
    width: 15px;
    height: 15px;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin-right: 3px;
}
.flSiderNav li.active {
    color: #dd2e29;
}
.flSiderNav li .tcdiv {
    width: 50%;
    height: 34px;
    overflow: hidden;
    float: left;
    position: relative;
}
.flSiderNav li .tcdiv i,
.flSiderNav li .tcdiv p {
    width: 100%;
    height: 34px;
    position: absolute;
    left: 0;
    top: 0;
}
.flSiderNav li .tcdiv i {
    line-height: 34px;
    font-size: 16px;
}
.flSiderNav li .tcdiv p {
    line-height: 14px;
    height: 28px;
    padding: 3px 0;
    display: none;
}
.flSiderNav li.active .tcdiv i {
    display: none;
}
.flSiderNav li.active .tcdiv p {
    display: block;
}


/*暂时做隐藏*/
/*#g-fad2,#g-fad3,#g-fad4,#g-f09,#g-f10,#g-f04,#g-f07 {
    display: none;
}*/
/*#g-fad1 {
    margin-top: 20px;
}*/
