/*55-H我的订单------------------*/
.ng-3after .nm-Tabsel{
	border-bottom:1px solid #ebebeb;
} 
.nm-Tabsel .nu-tab{
	position: relative;
	top:1px;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 20px;
	border:1px solid #ebebeb;
	border-bottom: none;
	background: #fff;
	margin-right:10px;
	cursor: pointer;
}
.nm-Tabsel .nu-ago{
	border-bottom: 1px solid #fff;
}
.nm-Tabsel .nu-after{
	border-bottom: 1px solid #ebebeb;
}
.nu-f02wid .select-text{
	border:1px solid #dadada;
}
.nu-f02wid .select-box{
	width: 152px;
}
.ng-3after .nm-psonec{
	padding: 20px;
	background: #fff;
}


/*购物表格区域---------*/

.nm-psonec table{
	width: 100%;
}
.ng-3after .nm-Tabsel{
	border-bottom:1px solid #ebebeb;
}
.nm-Tabsel .nu-tab.ns-colred{
	border-bottom: 1px solid #fff;
}
.nm-Tabsel .nu-tab{
	position: relative;
	top:1px;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 20px;
	border:1px solid #ebebeb;
	background: #fff;
	margin-right:10px;
}

.nm-Tabsel .nu-after{
	border-bottom: 1px solid #ebebeb;
}
.nu-f02wid .select-text{
	border:1px solid #dadada;
}
.nu-f02wid .select-box{
	width: 152px;
}
.nm-btn.nm-psbtn{
	padding-bottom: 20px;
	margin-bottom: 10px
}
.ng-3after .nm-psonec{
	padding: 20px;
	background: #fff;
}


/*购物表格区域---------*/
.nm-psonec .thea{
	height: 40px;
	line-height: 40px;
}
.nm-psonec td{
	vertical-align: top;
}
.thea .td01{
	text-align: center;
}
.nm-psonec .td01{
	width: 213px;
	border-right:1px solid transparent;
}
.nm-psonec .td02{
	width: 84px;
	text-align: center;
	border-right:1px solid transparent;
}
.nm-psonec .td03{
	width:69px; 
	text-align: center;
	border-right:1px solid transparent;
}
.nm-psonec .td04{
	width: 92px;
	text-align: center;
	border-right:1px solid transparent;
}
.nm-psonec .td05{
	width: 88px;
	text-align: center;
	border-right:1px solid transparent;
}
.nm-psonec .td06{
	width:88px; 
	text-align: center;
	border-right:1px solid transparent;
}
.nm-psonec .td07{
	width: 99px;
	text-align: center;
	border-right:1px solid transparent;
}
.nm-psonec .td08{
	width: 99px;
	text-align: center;
	border-right:1px solid transparent;
}
.nm-psonec .opea{
	height: 33px;
	line-height: 33px;
	padding-left: 10px;
}
.opea .nu-rm{
	padding: 0 10px 0 24px;
}
.nm-psonec .nm-psc{
	height: 30px;
	line-height: 30px;
	padding:0 20px 0 10px;
}
.nm-psc .nu-psdid{
	padding: 0 48px;
}
.nm-psc .nu-psj{
	position: relative;
	top: -2px;
	left: 5px;
	font-size: 13px;
	display: inline-block;
	width: 13px;
	height: 13px;
	text-align: center;
	line-height: 15px;
}
.nm-psc .nu-lsti{
	position: relative;
	top: 8px;
	left: -5px;
	color: #b3b3b3;
	display: block;
	width: 15px;
	height: 15px;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
}
.nm-psonec .nm-TABbor{
	border: 1px solid #ebebeb;
	margin-bottom: 10px;
	color: #333;
}
.nm-psonec .nm-TABallbor{
	border:1px solid red;
}
.nm-TABbored .ns-bjgra{
	background: #fbeaea;
} 
.tdfr .td02,.tdfr .td04{
	font-family: arial;
}
.nm-TABbored td{
	border-color:red;
}
.nm-TABbored .nm-lisone{
	border-color:red;
}
.nm-TABbor tr:last-child td{
	border-bottom: none;
}
.nm-psonec .nm-TABbored{
	border: 1px solid #ed7874;
}
.nm-TABbored .ns-bjgra{
	background: #fbeaea;
}
.tdfr td{
	padding-top: 15px;
}
.tdfr .nm-psL{
	position: relative;
	padding: 0 10px 15px 15px;
}
.nm-psL .nu-img{
	width: 70px;
	height: 70px;
}
.tdfr .nm-psR{
	width: 108px;
}
.nm-psR .nm-pRc{
	height: 40px;
	overflow:hidden;
}
.tdfr01 .td01,
.tdfr01 .td02,
.tdfr01 .td03,
.tdfr01 .td04{
	min-height: 85px;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.tdfr01 .td05,
.tdfr01 .td06,
.tdfr01 .td07{
	border-right: 1px solid #ebebeb;
}
.td08 .nu-emp{
	display: block;
	line-height: 20px;
}
.td08 .u-btn-blush{
	margin-bottom: 5px;
	padding: 0;
	width: 68px;
	height: 24px;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
}
.tdfr .td08{
	padding-bottom: 6px;
}
.nm-psc .open-3-modal03{
	color: #7d7d7d;
	cursor: pointer;
}
.nm-psL .nu-ys{
	position: absolute;
	left: 15px;
	top: 0;
}
.nm-psonec .nm-lisone{
	padding: 10px 20px;
	text-align: right;
	border-top:1px solid #ebebeb;
}
.nm-lisone .u-btn-blush{
	position: relative;
	left: 10px;
	padding:0;
	width: 68px;
	height: 24px;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	padding-bottom: 5px; 
}
.nm-lisone .nu-emp{
	position: relative;
	left: 10px;
}
.nu-psTu .nu-tui{
	padding:1px 2px;
	margin-left: 5px;
	background: #e42c25;
	color: #fff; 
}
/*55分页*/
.pagingR.nm-MYoder{
	padding-top: 10px;
}
/*物流追踪悬浮框*/
.tdfr .td08{
	position: relative;
}

.td08 .nm-WLzz{
	position: absolute;
	left: -86px;
	display: none;
	z-index: 9999;
	color: #333;
	width: 264px;
	height: auto;
	background: #fff;
	text-align: left;
	border:1px solid #ff8533;
}
.nm-WLzz.nm-WL-two{
	top: 90px;
}
.nm-WLrawrro{
	position: absolute;
	left: 50%;
	top:-7px;
	margin-left: -3.5px;
	width: 0;
    height: 0;
    border-style: dashed;
    border-top: none;
    border-right:7px solid transparent;
    border-left:7px solid transparent;
    border-bottom:7px solid #ff8533;
    overflow-x: hidden;
    display: inline-block;
    font-size: 0 !important;
}

.nm-WLzz .nm-WLzbox{
	padding: 24px 0 0 24px;
}
.nm-WLzz .nm-Timhea{
	position: relative;
	height: 20px;
	line-height: 20px;
	font-weight: 600;
	padding-left:18px; 
}
.nm-Timhea .nm-spgra{
	display:block;
	position: absolute;
	left: -2.5px;
	top: 50%;
	margin-top: -2.5px;
	width: 5px;
	height: 5px;
	background: #bdbdbd;
	border-radius: 100%;
}
.nm-Timhea .nm-spbgred{
	display: block;
	background: #fadad9;
	position: absolute;
	left: -5.5px;
	top: 50%;
	margin-top: -5.5px;
	width: 11px;
	height: 11px;
	border-radius: 100%;
	z-index: 1;
}
.nm-spgra.nm-spred{
	position: absolute;
	background: #e42c25;
	z-index: 8;
	width: 5px;
	height: 5px;
	left: -3.5px;
	border:1px solid #fff;
	margin-top: -3px;
	border-radius: 100%;
}
.nm-WLzz .nm-WLcon{
	padding: 1px 0 12px 18px;
	border-left: 1px dashed #adadad;
}
.nm-WLcon:last-child{
	border:none;
}
.nm-WLcon span{
	display: block;
	line-height: 20px;
}
.nm-WLzz .nm-WLbot{
	position: relative;
	line-height: 39px;
	height: 39px;
	text-align: center;
	border-top: 1px solid #fff2ea;
}
.nm-WLbot .nm-com{
	position: absolute;
	background: #fff;
	width: 4px;
	height: 4px;
	border-right: 1px solid #ff8533;
	border-bottom: 1px solid #ff8533;
	border-radius: 100%;
}
.nm-WLbot .nm-comL{
	left: -2px;
	top: -3px;
	transform: rotate(-46deg);
}
.nm-WLbot .nm-comR{
	right: -2px;
	top: -3px;
	transform: rotate(139deg);
}
.nu-psdid.nu-psTu{
	padding-right: 29px;
}
/*物流loadding*/
.bg_loading{
	background: url(http://miscssl.xebest.com/images/details_pic/loading.gif) no-repeat top center;
	padding-top: 30px;height: 30px;
	line-height: 30px;margin-top: 12px;
	text-align: center;
	padding-bottom: 50px;
	padding-top:50px;
}
.logistError{
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
}
/*55赠样式设置*/
.nm-psL .nu-Lblgo{
	position: absolute;
    right:10px;
    bottom: 15px;
    padding: 0 3px;
    color: #fff;
    background: #e42c25;
}
/*55弹出层设置------------*/
.example.nm-Malert{
	padding-top: 57px;
	height: 43px;
	color: #666666;
	text-align: center;
}
/*53-H退款订单------------------*/
.ng-3ago .nm-psago{
	padding: 20px;
	background: #fff;
}
.nm-agftr .td01,.nm-agftr .td02{
	width: 158px;
	text-align: center;
	border-right: 1px solid transparent;
}
.nm-agftr .td03{
	width: 103px;
	text-align: center;
	border-right: 1px solid transparent;
}
.nm-agftr .td04,.nm-agftr .td05{
	width: 158px;
	text-align: center;
	border-right: 1px solid transparent;
}
.nm-agftr .td06{
	width:98px;
	text-align: center;
	border-right: 1px solid transparent; 
}
.nm-psago .nm-agtab{
	border-left: 1px solid #ebebeb;
}
.nm-agtab .nm-aghea{
	height: 40px;
	line-height: 40px;
}
.nm-agtab .nm-agtr{
	line-height: 37px;
}
.nm-agtr .nm-tdr{
	height: 37px;
	line-height: 37px;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
/*53分页*/
.pagingR.nm-TKdidan{
	padding: 20px 0 30px;
}
/*59-H个人中心-----------------------*/
.nm-user .nm-urls{
	padding: 28px 0 26px 38px;
	background: #fff;
	margin-bottom: 10px; 
}
.nm-urls .nm-log{
	width: 118px;
	height: 112px;
}
.nm-log .nu-lg{
	position: relative;
	top: 5px;
}
.nm-urls .nm-usname{
	position: relative;
	width: 213px;
	padding-top: 5px;
	height: 107px;
	border-right: 1px dashed #dddcdc;
}
.nm-usname .nu-bjy{
	position: absolute;
	right: -7px;
	bottom: -33px;
	display: block;
	width: 13px;
	height: 13px;
	background: #f7f7f7;
	border-radius: 100%;
}
.nm-usname .nm-uscon{
	padding: 10px 0;
	font-size: 16px;
	max-width:210px;
	overflow: hidden; 
}
.nm-usname .nm-ushy{
	padding-bottom: 22px;
}
.nm-usyz .u-icon{
	position: relative;
	top: -2px;
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height:16px;
	color: #fff; 
	border-radius: 100%;
	background: #78be4e;
	font-size: 12px;
	margin-right: 5px;
	text-align: center;
}
.nm-usyz .nm-sp{
	width: 91px;
}
.nm-urls .nm-carsh{
	width: 246px;
	height: 92px;
	padding: 20px 0 0 40px;
	border-right: 1px dashed #dddcdc;
}
.nm-cafr .u-icon{
	display: inline-block;
	width: 27px;
	height: 27px;
	text-align: center;
	line-height: 19px;
	font-size: 23px;
}
.nm-cafr .nm-sp{
	width: 123px;
	margin-bottom:6px;
}
.nm-cafr .nu-cardf{
	color: #f46f6f;
}
.nm-cafr .nu-cards{
	color: #fc9561;
}
.nm-cafr .nu-carqx{
	color: #60a7f7;
}
.nm-cafr .nu-carwc{
	color: #7cdb7c;
}
.nm-cafr .nu-caR{
	padding: 0 8px 0 2px;
}
.nm-cafr.nm-cafr01{
	margin-top:10px;
}
.nm-urls  .nm-lis{
	width: 220px;
	height: 104px;
	padding: 8px 0 0 0;
}
.nm-lis .nm-lic{
	padding: 6px 0;
}
.nm-lic .nm-L{
	width: 85px;
	text-align: right;
}
.nm-lic .nm-R{
	min-width: 50px;
	max-width: 110px;
	text-align: right;
	overflow: hidden;
}
.nm-R .nm-cou{
	display: inline-block;
	max-width: 93px;
	line-height: 1;
	padding-right:3px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.nm-psonec.nm-usefr{
	padding-top: 0;
}
.nm-usefr .nm-pstit{
	padding: 19px 0;
	margin-bottom: 5px;
	font-size: 16px;
}
.nm-psc.nm-uscar01{
	margin-top: 6px;
}
/*59分页*/
.pagingR.nm-Usercen{
	padding: 10px 0 20px;
}
.f-logist{
	position: relative;
}
.td08 .nu-emp{
	padding-bottom: 7px;
}
.nm-WLzz{
	top: 20px;
}