*{
    margin: 0;
    padding: 0;

}
a {
  text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.f-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.clearfix:after{
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ' ';
}
i{
    font-style: normal;
}
a:hover {
    color: blue; 
}
img{
    border:0;
}
li {
  list-style: none; 
}

/*@font-face {
  font-family: "raphaelicons";
  src: url("../fonts/raphaelicons-webfont.eot");
  src: url("../fonts/raphaelicons-webfont.ttf") format("truetype"), url("../fonts/raphaelicons-webfont.svg") format("svg"), url("../fonts/raphaelicons-webfont.woff") format("woff"); }*/
body,html{
    width: 100%;
    height: auto;
    font-family: '微软雅黑';
}

/**********************************************warp******************************/
.warp{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.tmzz{
    width: 100%;
    height: 70px;
    background: #e9eaec;;
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-bottom: 2px solid #1994D4;
}
.tmzz .tmzz_div{
    margin: 0 auto;
    width: 960px;
    height: 70px;
}


.tmzz .tmzz_tu{
    float: left;
    width: 243px;
    height: 70px;
}
.tmzz .tmzz_tu img{
    margin: 5px 30px 0 15px;
    width:198px;
    height: 59px;
    display: block;
}


.tmzz .tmzz_ul{
    float: left;
    width: 454px;
    height: 100%; 
    position: relative;
}

.tmzz .tmzz_ul li{
    float: left;
    width:25%;
    height: 100%;
    line-height: 70px;
    text-align: center;
}
.tmzz .tmzz_ul li.onbg{
    background: #008AD1;
}
.tmzz .tmzz_ul li a.onbg{
    color: #fff;
}
.tmzz .tmzz_ul li a{
    width: 100%;
    height: 100%;
    font-size: 16px;
    float: left;
    color: #303030;
}



.tmzz .tmzz_dl{
    float: left;
    width: 260px;
    height: 100%;
    position: relative;
}
.tmzz .tmzz_dl .mfzc,.tmzz .tmzz_dl .dengl{
    display: block;
    float: right;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #3676cf;
    margin: 20px 0 0 10px;
    border-radius: 5px;
    color: #303030;
    font-size: 14px;
}
.tmzz .tmzz_dl .mfzc:hover,.tmzz .tmzz_dl .dengl:hover{
    background: #3676cf;
    color: #fff;
}
.dlul{
    float: left;
    width: 80px;
    height: auto;
    position: absolute;
    left: 77px;
    top: 53px;
}
.dlul li{
    float: left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #3676cf;
    margin: 4px 0 0 10px;
    border-radius: 5px;
    color: #303030;
    font-size: 14px;
}




.tmzz .tmzz_dl .adBjcla{
    background: #3676cf;
    color: #fff;   
}
.tmzz .tmzz_dl .dl_left a{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    color: #008ac7;
}
.tmzz .tmzz_dl .dl_left a:hover{
    
    color: #015e87;
    
}
.tmzz .tmzz_dl .dl_left em{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 18px;
    top: 5px; 
}
.hgzt,.hgzc{
    display: none;
}
.tmzz .tmzz_dl .dl_right a{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    color: #8A8A8D;
}
.tmzz .tmzz_dl .dl_right a:hover{
    color: #8A8A8D;
}
.tmzz .tmzz_dl .dl_right em{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 18px;
    top: 5px;
    
}

.tmzz .tmzz_dl .dl_left .cgsjh{
    width: 100%;
    height: 100%;
    line-height: 70px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    color: #008ac7;
    
}

.tmzz .tmzz_dl .dl_left .cgsjh .hyn{
    width: 60px;
    height: 100%;
    display: block;
    font-size: 14px;
    color: #404040;
    
}

.tmzz .tmzz_dl .dl_left .hghyn{
    display: none;
    width: 160px;
    height: 327px;
    position: absolute;
    left: -39px;
    top: 49px;
    background-image: url(../images/rh1_03.png);
    background-size: 100% 100%;
    z-index: 2;
}
.tmzz .tmzz_dl .dl_left .hghyn .gb{
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 15px;
    color: #ccc;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: right;
}
.tmzz .tmzz_dl .dl_left .hghyn .gb:hover{

    color: #ff0000;

}
.tmzz .tmzz_dl .dl_left .hghyn .hyndl{
    width: 100%;
    height: 155px;
    float: left;
    text-align: center;
}
.tmzz .tmzz_dl .dl_left .hghyn .hyndl dt{
    width: 60px;
    height: 60px;
    background: #000;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 20px;
}
.tmzz .tmzz_dl .dl_left .hghyn .hyndl dd{
    width: 100%;
    height: 25px;
    line-height: 50px;
    font-size: 14px;
    color: #404040;
    text-align: center;
}
.tmzz .tmzz_dl .dl_left .hghyn .hyndl p{
    width: 80%;
    height: 50px;
    
    font-size: 14px;
    color: #404040;
    text-align: center;
    margin-left: 10%;
    border-bottom: 1px solid #ccc;
}
.tmzz .tmzz_dl .dl_left .hghyn .hyndl p a{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #f43737;
    text-align: center;
    line-height: 45px;
}
.tmzz .tmzz_dl .dl_left .hghyn .hyndl p a:hover{
    color: #c50000;
}

.tmzz .tmzz_dl .dl_left .hghyn .hynul{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
    float: left;
}
.tmzz .tmzz_dl .dl_left .hghyn .hynul .hynulli{
    width: 103px;
    height: 30px;
    margin: 0 auto;
    background: #2fb3ff;
    border-radius: 3px;
    margin-top: 10px;
    border: 0;
}
.tmzz .tmzz_dl .dl_left .hghyn .hynul .hynulli:hover{
    background: #0493e6;
}
.tmzz .tmzz_dl .dl_left .hghyn .hynul .hynulli a{
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    color: #fff;
}




.tmzz .tmzz_dl .dl_left .djdl{
    display: none;;
    width: 160px;
    height: 185px;
    position: absolute;
    left: -39px;
    top: 49px;
    background-image: url(../images/rh1_03.png);
    background-size: 100% 100%;
}
.tmzz .tmzz_dl .dl_left .djdl .gb{
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 15px;
    color: #ccc;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: right;
    font-size: 22px;
    cursor: pointer;
}
.tmzz .tmzz_dl .dl_left .djdl .gb:hover{
    color: red;
}

.tmzz .tmzz_dl .dl_left .djdl .hynul{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 2px;
    float: left;
}
.tmzz .tmzz_dl .dl_left .djdl .hynul .hynulli{
    width: 103px;
    height: 30px;
    margin: 0 auto;
    background: #2fb3ff;
    border-radius: 3px;
    margin-top: 10px;
    border: 0;
}
.tmzz .tmzz_dl .dl_left .djdl .hynul .hynulli:hover{
    background: #0493e6;
}
.tmzz .tmzz_dl .dl_left .djdl .hynul .hynulli a{
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    color: #fff;
}














































#go_top {
  position: fixed;
  left: 85%;
  top: 300px;
  z-index: 100; 
}
#go_top .ewm1 {
  visibility: hidden;
}
#go_top:hover .ewm1 {
  visibility: visible;
}

/**********************************************header******************************/
.header{
    width: 100%;
    height: 547px;
    background: #fff;
    position: relative;
}
.header .hdimg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}
.header .hdimg img{
    display: block;
}
.header_div{
    width: 960px;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -480px;
}
.header_div .header_div_ul{
    width: 100%;
    height: 100%;
    float: left;
}
.header_div .header_div_ul li{
    border-radius: 3px;
    width: 230px;
    margin: 0 15px;
    margin-top: 28px;
    float: left;
    height: 60px;
    border: 1px solid #ccc;
    position: relative;
}
.header_div .header_div_ul li:nth-child(1){
    margin-left: 115px;
}
.header_div .header_div_ul li small{
    display: block;
    width:20px;
    height: 20px;
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -10px;
}
.header_div .header_div_ul li:nth-child(3) a{
    cursor: default;
}
.header_div .header_div_ul li a{
    display: block;
    text-align: center;
    line-height: 57px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #fff;
    padding-left: 25px;
    box-sizing: border-box;
    background:rgba(255, 255, 255, 0);
}
.header_div .header_div_ul li:nth-child(3) a:hover{
    background:rgba(255, 255, 255, 0);
}

.header_div .header_div_ul li a:hover{
    background:rgba(255, 255, 255, .2);
}
.header_div .header_left{
    width: 111px;
    height: 129px;
    position: absolute;
    left: -130px;
    top: 50%;
    margin-top:-200px;
}
.header_div .header_left img:nth-child(1){
    width: 26px;
    height: 51px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.header_div .header_left img:nth-child(2){
    width: 44px;
    height: 61px;
    display: block;
    position: absolute;
    left: 0;
    top: 51px;
    margin-top: 10px;
}
.header_div .header_left p{
    width: 61px;
    height: 17px;
    position: absolute;
    left: 44px;
    bottom: 5px;
    font-size: 14px;
    color: #3083b5;
}
.header_div .header_right{
    width: 111px;
    height: 129px;
    position: absolute;
    right: -130px;
    top: 50%;
    margin-top:-200px;
}
.header_div .header_right img:nth-child(1){
    width: 26px;
    height: 51px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.header_div .header_right img:nth-child(2){
    margin-top: 10px;
    width: 44px;
    height: 61px;
    display: block;
    position: absolute;
    right: 0;
    top: 51px;
}
.header_div .header_right p{
    width: 61px;
    height: 17px;
    position: absolute;
    right: 44px;
    bottom: 5px;
    font-size: 14px;
    color: #3083b5;
}
/**********************************************section******************************/
.section1,.section3,.section5{
    width: 960px;
    height: 580px;
    margin: 0 auto;
}
.section2,.section4,.section6{
    width: 100%;
    height: 580px;
}
.section1{
    margin-top: 30px;
    background: #fff;
}
.section1 h1{
    width: 100%;
    height: 114px;
    float: left;
    text-align: center;
    
    color: #303030;
    line-height: 90px;
    font-size: 26px;
    font-weight: 400;
}
.section1 ul{
    width: 100%;
    height: 466px;
    float: left;
}
.section1 ul li{
    width:23%;
    height: 420px;
    float: left;
    background: #f6f6f6;
    margin: 0 1%;
}
.section1 ul li:hover{
    background: #ececec;
}




.section1 ul li:nth-child(1) .tu_div{
    width: 100%;
    height: 104px;
    float: left;
    position: relative;
}
.section1 ul li:nth-child(1) .tu_div .tu_div1{
    display: block;
    position: absolute;
    width: 72px;
    height: 66px;
    left: 50%;
    background-size: 100% 100%;
    margin-top: 39.5px;
    margin-left: -35px;
}
.section1 ul li:nth-child(1) .tu_div .tu_div2{
    display: none;
}
.section1 ul li:nth-child(1) .tu_div .tu_div2 img:nth-child(1){
    display: block;
    position: absolute;
    background-size: 100% 100%;
    left: 0;
    top: 0;
    
}
.section1 ul li:nth-child(1) .tu_div .tu_div2 img:nth-child(2){
    display: block;
    position: absolute;
    left: 13px;
    top: 19px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(1) .tu_div .tu_div2 img:nth-child(3){
    display: block;
    position: absolute;
    left: 36px;
    top: 19px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(1) .tu_div .tu_div2 img:nth-child(4){
    display: block;
    position: absolute;
    left: 13px;
    top: 40px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(1) .tu_div .tu_div2 img:nth-child(5){
    display: block;
    position: absolute;
    left: 36px;
    top: 40px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(2) .tu_div{
    width: 100%;
    height: 104px;
    float: left;
    position: relative;
}
.section1 ul li:nth-child(2) .tu_div .tu_div1{
    display: block;
    position: absolute;
    width: 72px;
    height: 66px;
    left: 50%;
    background-size: 100% 100%;
    margin-top: 39.5px;
    margin-left: -35px;
}
.section1 ul li:nth-child(2) .tu_div .tu_div2{
    display: none;
    position: absolute;
    width: 72px;
    height: 66px;
    left: 50%;
    background-size: 100% 100%;
    margin-top: 40px;
    margin-left: -37px;
}
.section1 ul li:nth-child(2) .tu_div .tu_div2 img:nth-child(1){
    display: block;
    position: absolute;
    left: 2px;
    top: 11px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(2) .tu_div .tu_div2 img:nth-child(2){
    display: block;
    position: absolute;
    left: 27px;
    top: 0px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(2) .tu_div .tu_div2 img:nth-child(3){
    display: block;
    position: absolute;
    left: 39px;
    top: 3px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(2) .tu_div .tu_div2 img:nth-child(4){
    display: block;
    position: absolute;
    left: 26px;
    top: 25px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(2) .tu_div .tu_div2 img:nth-child(5){
    display: block;
    position: absolute;
    left: 7px;
    top: 25px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(2) .tu_div .tu_div2 img:nth-child(6){
    display: block;
    position: absolute;
    left: 7px;
    top: 8px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(4) .tu_div{
    width: 100%;
    height: 104px;
    float: left;
    position: relative;
}
.section1 ul li:nth-child(4) .tu_div .tu_div1{
    display: block;
    position: absolute;
    width: 72px;
    height: 66px;
    left: 50%;
    background-size: 100% 100%;
    margin-top: 39.5px;
    margin-left: -35px;
}
.section1 ul li:nth-child(4) .tu_div .tu_div2{
    display: none;
    position: absolute;
    width: 72px;
    height: 66px;
    left: 50%;
    background-size: 100% 100%;
    margin-top: 40px;
    margin-left: -36px;
}
.section1 ul li:nth-child(4) .tu_div .tu_div2 img:nth-child(1){
    display: block;
    position: absolute;
    left: 1px;
    top: 0px;
    background-size: 100% 100%;
}
.section1 ul li:nth-child(4) .tu_div .tu_div2 img:nth-child(2){
    display: block;
    position: absolute;
    left: 19px;
    top: 19px;
    background-size: 100% 100%;
}
.section1 ul li:nth-child(4) .tu_div .tu_div2 img:nth-child(3){
    display: block;
    position: absolute;
     left: 40px;
    top: 35px;
    background-size: 100% 100%;
}



.section1 ul li:nth-child(3) .tu_div{
    width: 100%;
    height: 104px;
    float: left;
    position: relative;
}
.section1 ul li:nth-child(3) .tu_div .tu_div1{
    display: block;
    position: absolute;
    width: 72px;
    height: 66px;
    left: 50%;
    background-size: 100% 100%;
    margin-top: 39.5px;
    margin-left: -35px;
}
.section1 ul li:nth-child(3) .tu_div .tu_div2{
    display: none;
    position: absolute;
    width: 72px;
    height: 66px;
    left: 50%;
    background-size: 100% 100%;
    margin-top: 40px;
    margin-left: -35px
}
.section1 ul li:nth-child(3) .tu_div .tu_div2 img:nth-child(1){
    display: block;
    position: absolute;
    left: 0px;
    top: 29px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(3) .tu_div .tu_div2 img:nth-child(2){
    display: block;
    position: absolute;
    left: 14px;
    top: 17px;
    background-size: 100% 100%;  
}
.section1 ul li:nth-child(3) .tu_div .tu_div2 img:nth-child(3){
    display: block;
    position: absolute;
    left: 28px;
    top: 0;
    background-size: 100% 100%;  
}
























.section1 ul li .tu_div .tu_div1 img,.section1 ul li a .tu_div .tu_div2 img{
    background-size: 100% 100%;
}
.section1 ul li .tu_div .tu_div2{
    display: block;
    position: absolute;
    width: 72px;
    height: 66px;
    left: 50%;
    background-size: 100% 100%;
    margin-top: 38px;
    margin-left: -36px;
}
.section1 ul li h3{
    float: left;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    color: #303030;
    font-weight: 400;
} 
.section1 ul li ol{
    width: 100%;
    height: 157px;
    float: left;
    background: #f6f6f6;
}
.section1 ul li:hover ol{
    background: #ececec;
}
.section1 ul li:hover ol li{
    background: #ececec;
}
.section1 ul li ol li{
    cursor: default;
    width: 80%;
    height: auto;
    line-height: 26px;
    font-size: 14px;
    float: left;
    color: #696969;
    margin-left: 20%;
}
.section1 ul li ol li b{
    color: #fd6566;;
}
.section1 ul li  a{
    float: left;
    display: block;
    width:88px;
    height: 30px;
    margin-left: 70px;
    margin-top: 20px;
}
.section1 ul li  a button{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid #696969;
    background: #f6f6f6;
    font-size: 14px;
    color: #696969;  
}
.section1 ul li:hover  a button{
    background: #008ac7;
    color: #fff;
    border: 1px solid #008ac7;
}
.section1 ul li:hover .tu_div  .tu_div1{
    display: none;
}
.section1 ul li:hover .tu_div  .tu_div2{
    display: block;
}
/**********************************************section2******************************/
.section2{
    background-image: url(../images/pass_nby_137.png);
    background-size: 100% 100%;
}
.section2 .section2_div{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    
}
.section2 .section2_div .s2_left{
    width: 50%;
    height: 100%;
    float: left;
    color: #333; text-align: center; font: 12px "微软雅黑";
}
.section2 .section2_div .s2_left .se_img{
    position: absolute;
    left: -60px;;
    top: 115px;
}

.section2 .section2_div .s2_jz{
    position: absolute;
    float: left;
    width: 123px;
    height: 132px;
    margin: 230px 0 0 420px;
}
.section2 .section2_div .s2_jz img{
    display: block;
}
.section2 .section2_div .s2_right{
    width: 50%;
    height: 100%;
    float: right;
}
.section2 .section2_div .s2_right h3{
    width: 100%;
    height: 157px;
    font-size: 26px;
    float: left;
    line-height: 242px;
    color: #303030;
    margin-left: 123px;
    font-weight: 400;
}
.section2 .section2_div .s2_right ul{
    width: 476px;
    height: 362px;
    float: left;
    margin-top: 15px;
}
.section2 .section2_div .s2_right ul li{
    box-sizing: border-box;
    padding-left: 123px;
    width: 100%;
    height: 55px;
    background: url(../images/xian.png) no-repeat;
    color: #fff;
    font-size: 14px;
    display: block;
    color: #303030;
    font-size: 14px;
}
.section2 .section2_div .s2_right ul li b{
    color: #fd6566;;
}
.jdt_1{
    width: 150px;
    height: 15px;
    background: #333;
    display: inline-block;
    position: relative;
    top: 3px;
}
.jdt_1 .jdtwz_1{
    width: 30%;
    height:100%;
    /*background: #4CADD8;*/
    overflow: hidden;
}
.jdt_1 .jdtwzz_1{
    padding-left: 10px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top:0;
    color: #fff;
}
/**********************************************section3******************************/
.section3 h3{
    width: 100%;
    height: 114px;
    line-height: 114px;
    text-align: center;
    color: #303030;
    font-size: 26px;
    font-weight: 400;
}
.section3 .s3_div{
    margin: 0 1%;
    width:140px;
    height: 350px;
    float: left;
}
.section3 .s3_div dl{
    width:100%;
    height: 242px;
    background: #ecf0f1;
    float: left;
}
.section3 .s3_div dl dt{
    padding-top: 14px;
    width: 111px;
    height: 111px;
    margin: 0 auto;
    position: relative;
}
.section3 .s3_div dl dt .s3_st{
    
    position: absolute;
    width: 100px;
    height: 100px;
    display: none;
    float: left;
    border-radius: 50px;
    z-index: 2;
    background: #000;
    opacity: .3;
    left: 4px;
    top: 18px;
   
}
.section3 .s3_div dl dt img{
    background-size: 100% 100%;
}
.section3 .s3_div dl dd{
    width: 140px;
    height: 115px;
    margin: 0 auto;
}
.section3 .s3_div dl dd h3{
    width: 100%;
    height: 54px;
    text-align: center;
    line-height: 54px;
    font-size: 16px;
    color: #273545;
    font-weight: 400;
}
.section3 .s3_div dl dd p{
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 14px;
    color: #273545;
}
.section3 .s3_div ul{
    width: 100%;
    height: 87px;
    float: left;
    margin-top: 20px;
}
.section3 .s3_div ul li{
    width: 100%;
    height:19px;
    border-bottom: 1px dashed #ccc;
    line-height: 21px;
    font-size: 12px;
    color: #080808;
    font-weight: 400;
}

/**********************************************section4******************************/
.section4{
    background-image: url(../images/pass_nby_139.png);
    background-size: 100% 100%;
}
.section4 .section4_div{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section4 .section4_div .s4_right{
    width: 50%;
    height: 100%;
    float: right;
    position: absolute;
    right: -18px;
    top: 50%;
    margin-top: -290px;
}
.section4 .section4_div .s4_right .s4_img{
    display: block;
    background-size: 100% 100%;
    position: absolute;
    right: 0px;;
    top: 115px;
}

.section4 .section4_div .s4_jz{
    position: absolute;
    float: left;
    width: 123px;
    height: 132px;
    margin: 242px 0 0 390px;
}
.section4 .section4_div .s4_jz img{
    display: block;
}
.section4 .section4_div .s4_left{
    width: 50%;
    height: 100%;
    float: left;
}
.section4 .section4_div .s4_left h3{
    width: 100%;
    height: 157px;
    font-size: 26px;
    float: left;
    line-height: 236px;
    color: #303030;
    margin-left: 50px;
    font-weight: 400;
}
.section4 .section4_div .s4_left ul{
    width: 476px;
    height: 362px;
    float: left;
    margin-top: 15px;
}
.section4 .section4_div .s4_left ul li{
    width: 100%;
    height: 55px;
    background: url(../images/xian1.png) no-repeat;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    display: block;
    color: #303030;
    font-size: 14px;
    padding-left: 50px;
}
.section4 .section4_div .s4_left ul li b{
    color: #fd6566;
}
.section4 .section4_div .s4_left ul li a{
    
}
/**********************************************section5******************************/
.section5 h3{
    float: left;
    width: 100%;
    height: 124px;
    line-height: 136px;
    text-align: center;
    color: #303030;
    font-size: 26px;
    font-weight: 400;
}
.section5 dl{
    margin: 6px 7px;
    float: left;
    width: 305px;
    height: 180px;
    background: #4cadd8;
    position: relative;
    
}
.section5 dl .bobox{
      width:100%; 
      /*background:black; */
      position:absolute; 
      top:0; 
      left:0; 
      right: 0;
      bottom: 0;
      display:none;
      text-align:center;
      z-index:2;
      opacity: 1;
    line-height: 80px;
    color: #fff;
    font-size: 16px;
}
.highcharts-credits,.highcharts-button-symbol,.highcharts-button-box{
    display: none;
}

.section5 dl:hover .bobox{
      display:block; 
 }
.section5 dl dt{
    box-sizing: border-box;
    margin: 0 auto;
    width: 86px;
    height: 80px;
    padding-top: 30px;
}
.section5 dl dd{
    width: 100%;
    height: 83px;
    line-height: 111px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.nm-modvew{
    margin-top: 20px;
}
.nm-modvew .lis_tit{
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
}
.n-lisshow{
    height: 120px;
    overflow: hidden;
}
.n-lisshow .fl{
    display: block;
    line-height: 24px;
    height: 24px;
    color: #fff;
    font-size: 12px;
}
.n-lisshow .nm-con{
    height: 24px;
}
.n-navlis .n_fis{
    width: 16.7%;
}
.n-navlis .n_sec{
    width: 49.2%;
    text-align: left;
}
.n-navlis .n_thre{
    width: 33.4%;
}
#column .n-tit{
    height: 33px;
    line-height: 41px;
}
/**********************************************section6******************************/
.section6{
    background: #f6f6f6;
}
.section6 .s6_div{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
.section6 .s6_div h3{
    width: 100%;
    height: 127px;
    float: left;
    text-align: center;
    color: #303030;
    line-height: 127px;
    font-size: 26px;
    font-weight: 400;
}
.section6 .s6_div .s6_list{
    margin: 0 1.3%;
    width: 295px;
    height: 366px;
    float: left;
    background: #fff;
}
.section6 .s6_div .s6_list ul #s6_st1,#s6_st2,#s6_st3{
    width: 100%;
    height: 33px;
    position: absolute;
    left: 0;
    top: 0;;
    background: #007BBC;
    opacity: 0.5;
    display: none;
    z-index: 1;
}
.section6 .s6_div .s6_list h4{
    float: left;
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin: 20px 10%;
    background: #f6f6f6;
    text-align: center;
    font-size: 16px;
    color: #303030; 
    font-weight: 100;
}
.section6 .s6_div .s6_list ul{
    width: 80%;
    height: 270px;
    margin: 0 10%;
    float: left;
    position: relative;
    z-index: 2;
}
.section6 .s6_div .s6_list ul li{
    list-style-type : square;
    width: 100%;
    height: 33px;
    float: left;
    color: #696969;
    font-size: 14px;
    line-height: 33px;
    position: relative;
    z-index: 2;
}

.section6 .s6_div .s6_list ul li a{
    display: block;
    font-size: 14px;
    color: #696969;
    position: relative;
    z-index: 2;
    cursor: default;
}
/*.section6 .s6_div .s6_list ul li a.ztbg{
    color: #fff;
}
.section6 .s6_div .s6_list ul li a:hover{
    color: #fff;  
}*/
/**********************************************section7******************************/
.section7{
    width: 100%;
    height: 190px;
    background-image: url(../images/pass_nby_117.png);
    background-size: 100% 100%;
}
.section7 h3{
    float: left;
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}
.section7 .s7_div{
    width: 470px;
    height: 90px;
    margin: 0 auto;
}
.section7 .s7_div h1{
    float: left;
    width: 150px;
    height: 47px;
    line-height: 47px;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}
.section7 .s7_div .s7a1{
    float: left;
    width: 187px;
    height: 50px;
    display: block;
}
.section7 .s7_div .s7a1 button{
    border: 1px solid #fff;
    display: block;
    width: 100%;
    height: 100%;
    font-size:20px;
    color: #fff;
    border-radius: 3px;
    background:rgba(255, 255, 255, 0.1)
}
.section7 .s7_div .s7a2{
    float: left;
    display: block;
    width: 58px;
    height: 15px;
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
    line-height: 70px;
    TEXT-DECORATION:underline;
}
.section7 .header_div_ul{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
.section7 .header_div_ul li{
    border-radius: 3px;
    width: 230px;
    margin: 0 15px;
    margin-top: 3px;
    float: left;
    height: 60px;
    border: 1px solid #ccc;
    position: relative;
}
.section7 .header_div_ul li:nth-child(1){
    margin-left: 115px;
}
.section7 .header_div_ul li small{
    display: block;
    width:20px;
    height: 20px;
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -10px;
}
.section7 .header_div_ul li:nth-child(3) a{
    cursor: default;;
}
.section7 .header_div_ul li a{
    display: block;
    text-align: center;
    line-height: 57px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #fff;
    padding-left: 25px;
    box-sizing: border-box;
    background:rgba(255, 255, 255, 0);
}
.section7 .header_div_ul li:nth-child(3) a:hover{
    background:rgba(255, 255, 255, 0);
}
.section7 .header_div_ul li a:hover{
    background:rgba(255, 255, 255, .2);
}

/**********************************************ftrdbbg******************************/
.ftrdbsp{
    width: 100%;
    height: 65px;
    background: #e9eaec;
}
.ftrdbsp .sp_div{
    width:960px;
    height: 100%;
    margin: 0 auto;
}
.ftrdbsp .sp_div ul{
    width:100%;
    height: 100%;
    float: left;
}
.ftrdbsp .sp_div ul li{
    width:20%;
    height: 100%;
    line-height: 65px;
    text-align: center;
    float: left;
}
.ftrdbsp .sp_div ul li img{
    margin: 0 auto;
    display: block;
    background-size: 50% 50%;
    margin-top: 15px;
}


/**********************************************footer******************************/
.footer{
    width: 100%;
    height: 278px;
    background: #231e17;
    position: relative;
}
.footer p{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    line-height: 40px;
    text-align: center;
    color: #696969;
    font-size: 14px;
    border-top: 1px solid #2e2921;
}
.footer .ft_div{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
.footer .ft_div .ft_div1{
    width: 25%;
    height: 90%;
    float: left;
}
.footer .ft_div .ft_div1 h3{
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 16px;
    color: #999;
    font-weight: 400;
}
.footer .ft_div .ft_div1 ul{
    width: 100%;
    height: 150px;;
    float: left;
    box-sizing: border-box;
    
}
.footer .ft_div .ft_div1 ul li{
    width: 100%;
    height: 30px;
    float: left;
    color: #696969;
    text-align: center;
    position: relative;
    font-size: 14px;
}
.footer .ft_div .ft_div1 ul .ewm{
    width: 100%;
    height: 30px;
    float: left;
    color: #696969;
    position: relative;
}
.footer .ft_div .ft_div1 ul .ewm .ewm1{
    position: absolute;
    top: -190px;
    left: 0;
    display: none;
}
.footer .ft_div .ft_div1 ul .ewm:hover .ewm1{
    position: absolute;
    top: -190px;
    left: 0;
    display: block;
}
.footer .ft_div .ft_div1 ul li small{
    width:30px;
    height: 25px;
    position: absolute;
    left: 50px;
}
.footer .ft_div .ft_div1 ul li a{
    font-size: 14px;
    color: #696969;
}
.footer .ft_div .ft_div1 ul li a:hover{
    font-size: 14px;
    color: #008ac7;
}



.footer .ft_div2{
    width: 15%;
    height: 35%;
    position: absolute;
    right: 10px;;
    top: 90px;
}
.footer .ft_div2 ul{
    width: 100%;
    height: 150px;;
    float: left;
    box-sizing: border-box;
    
}
.footer .ft_div2 ul li{
    width: 100%;
    height: 30px;
    float: left;
    color: #696969;
    position: relative;
    font-size: 14px;
}
.footer .ft_div2 ul .ewm{
    width: 100%;
    height: 30px;
    float: left;
    color: #696969;
    position: relative;
}
.footer .ft_div2 ul .ewm .ewm1{
    position: absolute;
    top: -173px;
    left: -94px;
    display: none;
}
.footer .ft_div2 ul .ewm:hover .ewm1{
    position: absolute;
    top: -173px;
    left: -94px;
    display: block;
}
.footer .ft_div2 ul li small{
    width:30px;
    height: 25px;
    position: absolute;
    left: -30px;
}
.footer .ft_div2 ul li a{
    font-size: 14px;
    color: #696969;
}
.footer .ft_div2 ul li a:hover{
    font-size: 14px;
    color: #008ac7;
}
























